[user]
	email = janpublicebert@posteo.net
	name = janEbert
[credential]
	helper = cache --timeout 1200
[pull]
	rebase = true
[core]
	editor = vim
[alias]
	a = add
	ap = add -p
	br = branch
	ci = commit
	cm = commit -m
	co = checkout
	cb = checkout -b
	d = diff
	dc = diff --cached
	dn = diff --name-status
	ds = diff --stat
	llog = log --date=local
	p = pull
	st = status
	ru = remote update

	unstage = reset HEAD --
	last = log -1 HEAD
	pr = !sh -c 'git fetch origin pull/$1/head:pr-$1' -
	prc = !sh -c 'git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1' -
	prune-all = !git remote | xargs -n 1 git remote prune

